<!DOCTYPE html>
<html lang="en">

<head>
    {{> partials/head/meta_scripts}}
</head>

<body>
    <main>

        {{!-- <section class="py-5 text-center container">
            <div class="row py-lg-5">
                <div class="col-lg-6 col-md-8 mx-auto">
                    <h1 class="font-weight-light">
                        <font style="vertical-align: inherit;">
                            <font style="vertical-align: inherit;">Exemplo de álbum</font>
                        </font>
                    </h1>
                    <p class="lead text-muted">
                        <font style="vertical-align: inherit;">
                            <font style="vertical-align: inherit;">Algo curto e comandante sobre o grupo abaixo - seu
                                conteúdo, criador, etc. </font>
                            <font style="vertical-align: inherit;">Mantenha-o curto e bonito, mas não muito curto, para
                                que as pessoas simplesmente não pulem este grupo completamente.</font>
                        </font>
                    </p>
                    <p>
                        <a href="#" class="btn btn-primary my-2">
                            <font style="vertical-align: inherit;">
                                <font style="vertical-align: inherit;">O principal apelo à ação</font>
                            </font>
                        </a>
                        <a href="#" class="btn btn-secondary my-2">
                            <font style="vertical-align: inherit;">
                                <font style="vertical-align: inherit;">Trabalho secundário</font>
                            </font>
                        </a>
                    </p>
                </div>
            </div>
        </section> --}}

        <div class="album py-5 bg-light">
            <div class="container">
                <div class="row">
                    {{#news}}
                    <div class="col-md-4">
                        <div class="card m-1">
                            <img src="https://via.placeholder.com/40" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">{{title}}</h5>
                                <p class="card-text"><small class="text-muted">Autor: {{author}} - {{news_date}}</small></p>
                                <p class="card-text">{{summary}}</p>
                                <a href="news/detail?id_news={{id_news}}" class="btn btn-sm btn-outline-secondary">Saiba Mais</a>
                                <a href="#" class="btn btn-sm btn-outline-secondary">Another link</a>
                            </div>

                        </div>
                    </div>
                    {{/news}}
                </div>
                <div class="row">
                    <a class="btn" href="/news">Todas as notícias</a>
                </div>

            </div>
        </div>

    </main>

</body>

</html>