<!DOCTYPE html>
<html lang="pt-br">

<head>
    {{> partials/head/meta_scripts}}
</head>

<body>

    {{> partials/nav}}

    <div class="container">
        {{#news}}
        <div class="row mt-2">
            <div class="col-md-12">

                <div class="card">
                    <div class="card-header d-flex justify-content-between">
                        <span>
                            autor: {{author}}
                        </span>
                        <a href="news/del/{{id_news}}" class="btn btn-danger ">
                            Apagar
                        </a>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title"><a href="news/detail?id_news={{id_news}}">{{title}}</a></h5>
                        <p class="card-text">{{news}}</p>
                        <small class="text-muted">{{news_date}}</small>
                    </div>
                    
                </div>
            </div>
        </div>
        {{/news}}
    </div>


</body>

</html>